body{
    width: 100%;
    height: 776px;
}
.right{
width: 50%;
height: 776px;
background-color: rgb(210, 226, 252);

}
.all{
    height: 80%;
}
#euc{
    left: 42%;
    justify-content: center;
    align-content: center;
    display: flex;
    position: absolute;
    top: 5%;
    font-style: bold;
    color: rgb(35, 35, 136);
     font-family: 'Sansita Swashed', cursive;
}
#welcome{
    left: 40%;
    justify-content: center;
    align-content: center;
    display: flex;
    position: absolute;
    top: 14%;

}
.left{
width: 50%;
height: 776px;
background-color: rgb(35, 35, 136);

}

.r{
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: seashell;
    border-left: solid;
    border-right: solid;
    border-radius:20px ;
    border-color: seashell;
    margin: 50px 50px 0px 50px;
    width: 93%;
    padding-top: 40px;
    
}
.l{
    position: relative;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color:rgb(210, 226, 252);
    border-left: solid;
    border-right: solid;
    border-radius:20px ;
    border-color: rgb(210, 226, 252);
    margin:50px 50px;
    margin-left: 0;
    width: 93%;
    padding-top: 40px;
    top: -1;


}
#im{
    width: 90%;
    height: 96%;
}

.input{
    padding: 1%;
    width: 80%;
    background-color:#c8daec ;
    justify-content: center;
    align-content: center;
    display: flex;
    position: absolute;
    border:solid ;
    border-color: #c8daec ;
    border-radius: 10px;
    height: 40px;
    left: 15%;
}
#user{
    top: 22%;
}
#email{
    top: 30%;
}
#pass{
    top: 38%;
}
#sign{
    top:79%
}
#keep{
    left: 15%;
    top: 71%;
}
.k{
   left: 25%;
    justify-content: center;
    align-content: center;
    display: flex;
    position: absolute;
    top:70%;
}


#sel{
    top:46% ;
}
#date{
    top: 61%;
}
#birthday{
    position: absolute;
    top: 54%;
    left: 15%;
}
.link{
    width: 10%;
    height: 10%;
    justify-content: center;
    align-content: center;
    top:88%;
    display: flex;
    position: absolute;
    right: 40%;
    
   
 }   
  
 
#google{
    
right: 20%;
    
}
#Facebook{
    
    right: 45%;
    
    
}
#login{
    width: 12%;
    height: 12%;
    right: 70%;
    top:87%;

}